body{
    background-color: lightgray;
    background-image: url(img/bg3.png);
    background-size: 1920px;
}

.titulo{
    color:white;
}

h1{
    font-family: 'Poppins', sans-serif;
}
.subt{
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}
.infoveh{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 20px;
    text-decoration: underline;   
}

.datosUsuario{
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 1px;
}

span{
    font-family: 'Poppins', sans-serif;
    color: #d09494;
}

.texto-verde{
    color:#d09494;
}


.valorPoliza{
    padding-top: px;
    margin-top: 10px;
}

.border-success{
    padding-top: 2px;
    padding-bottom: 2px;
    border-color:#d09494!important;
}

.textoPoliza{
    font-family: 'Poppins', sans-serif;
    padding-top:16px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}

.montoPoliza{
    font-family: 'Poppins', sans-serif;

}
.row{
    --bs-gutter-x: 0rem !important;
}
.general{
    margin-top: -50px;
}

.btn-primary{
    background-color: #a37e7e;
    border-color: #a37e7e;
}
.btn-primary:hover{
    background-color: #d09494;
    border-color: #d09494;
}

.boton,a{
    font-family: 'Poppins', sans-serif;
    color:#d09494;
}
.boton,a:hover{
    color: #a37e7e;
}
